.header-container {
  padding-top: 1rem;
  background-color: #e67e22;
  color: #ecf0f1;
  border-bottom: 2px solid #ecf0f1;
}

.header-navigation__list {
  padding: 0;
  .header-navigation__list-item {
    list-style: none;
    display: inline;
    margin-right: 5%;
  }

  .header-navigation__list-link {
    color: #ecf0f1;
    text-decoration: none;  
  }

  .header-navigation__list-link:hover {
    text-decoration: underline;
  }
}

.header__branding-logo {
  color: #ecf0f1;
  text-decoration: none; 
}