.header-container {
  padding-top: 1rem;
  background-color: $principal;
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

.header-navigation__list {
  padding: 0;
  .header-navigation__list-item {
    list-style: none;
    display: inline;
    margin-right: 5%;
  }

  .header-navigation__list-link {
    color: $secondary;
    text-decoration: none;  
  }

  .header-navigation__list-link:hover {
    text-decoration: underline;
  }
}

.header__branding-logo {
  color: $secondary;
  text-decoration: none; 
}