.header-container {
  padding-top: 1rem;
  background-color: $principal;
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

.header-navigation__list {
  padding: 0;
  .header-navigation__list-item {
    list-style: none;
    display: inline;
    margin-right: 5%;
  }

  .header-navigation__list-link {
    color: $secondary;
    text-decoration: none;  
  }

  .header-navigation__list-link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 575px) { 
  .dropdown__navigation {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .logo__element {
    display: none;
  }

  .principal__navigation {
    display: none;
  }

  .dropdown__navigation {
    margin-bottom: 1rem;
    text-align: right;

    .btn-secondary{
      color: $secondary;
      background-color: $principal;
      border-color: $principal
    }

    .btn-secondary:hover {
      color: $secondary;
      background-color: $dark;
      border-color: $dark;
    }

    .dropdown__menu-link {
      color: $principal;
      text-decoration: none;
    }
  }
}